body.main {
    margin-left: 225px;
    background-color: #FFEFB6;
    color: black;
}

body {
    background-color: #FFEFB6;
    color: black;
}

ul.navbar {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 150px;
}

p.p1 {
    color: teal;
}

p.p2 {
    color: darkolivegreen;
}